<div id="navigation-bar" class="container-fluid">
  {{#md-navbar name='theDirectory' class='blue darken-1' homeRoute='index'}}
    <!-- A workaround to get the "active" class
      to apply to the active <li> automatically -->
    {{#if isAuthenticated}}
    {{!-- {{#link-to 'houses' tagName='li'}}
      {{link-to 'Houses' 'houses'}}
    {{/link-to}}
    {{#link-to 'units' tagName='li'}}
      {{link-to 'Units' 'units'}}
    {{/link-to}} --}}
    {{#link-to 'change-password' tagName='li'}}
      {{link-to 'ChangePW' 'change-password'}}
    {{/link-to}}
    <!-- Log out button-->
    {{md-btn text='Log Out'
    	action='signOut'
    	class='btn-large red white-text text-darken-3'}}
    <!-- Show sign-in/sign-up if not authenticated-->
    {{else}}
    {{#link-to 'sign-up' tagName='li'}}
      {{link-to 'Sign Up' 'sign-up'}}
    {{/link-to}}
    {{#link-to 'sign-in' tagName='li'}}
      {{link-to 'Login' 'sign-in'}}
    {{/link-to}}
    {{/if}}
  {{/md-navbar}}
</div>

<main id="main-content" class="container">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
  {{outlet}}
</main>

<div id="footer">
  {{application-footer}}
</div>
